[submodule "iniparser"]
	path = iniparser
	url = https://github.com/ndevilla/iniparser.git
[submodule "cpprich"]
	path = cpprich
	url = https://github.com/Ace-Radom/cpprich.git
[submodule "pthread_pool"]
	path = pthread_pool
	url = https://github.com/jonhoo/pthread_pool.git
[submodule "clip"]
	path = clip
	url = https://github.com/dacap/clip.git
[submodule "cpp-tiktoken"]
	path = cpp-tiktoken
	url = https://github.com/gh-markt/cpp-tiktoken.git
